// QUESTIONS
.container-q-diet,
.container-q-stranger {
  justify-content: center;
  & .wrapper.container-flex {
    flex-direction: column;
    align-items: center;
  }
}

.q-num {
  font-family: $font-secondary;
  font-size: rem-calc(100px);
  margin-top: rem-calc(-35px);
  margin-bottom: rem-calc(20px);
  text-align: center;

  @include media (454px) {
    font-size: rem-calc(125px);
  }

  @include media (750px) {
    font-size: rem-calc(150px);
    margin-top: -3.5rem;
  }
}

.legend {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 1.5rem auto;
}

.custom-radio {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  max-width: 600px;
  
  label {
    text-align: left;
    width: 100%;
  }
}

.btn {
  margin: 1rem auto;
  display: block;
}
